{
    "presets": [
        [
            "env", {
                "targets": {
                    "browsers": [
                        "defaults"
                    ]
                }
            }
        ],
        [
            "react"
        ]
    ],
    "plugins": [
        [
            "transform-react-jsx",
            {
                "pragma": "Glamor.createElement" // convert JSX into this instead of default createElement
            }
        ]
    ]
}