{
    "presets": [
        [
            "env", {
                "targets": {
                    "browsers": [
                        "defaults"
                    ]
                }
            }
        ]
    ],
    "plugins": [
        [
            "transform-react-jsx",
            {
                "pragma": "h"
            }
        ]
    ]
}