html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    font: 5vh/1.15 Karla, sans-serif;
    color: #fff;
    background: #333;
    
}

menu {
    margin: 0;
    padding: 0;
}

button {
    font: inherit;
}